:root {
    /* Colors */
    --primary-color: hsl(0, 0%, 100%);
    --second-color: hsl(0, 0%, 0%);
    --message-color: hsl(0, 0%, 90%); 
    --text-color: hsl(0, 0%, 20%);
    
    /* Font and typography */
    --body-font: 'Ysabeau SC', sans-serif; 
    --title-font: 'Ysabeau SC', sans-serif; 
    --big-font: 2rem;
    --medium-font: 1.5rem;
    --normal-font: 1erm;
    --small-font: .8rem;
    --tiny-font: .7rem;

    /* Font Weight */
    --font-normal: 300;
    --font-medium: 500;

    /* Margins */
    --sp-0-25: .25rem;
    --sp-0-5: .5rem;
    --sp-0-75: .75rem;
    --sp-1: 1rem;
    --sp-1-5: 1.5rem;
    --sp-2: 2rem;
    --sp-2-5: 2.5rem;
    --sp-3: 3rem;
    --sp-4: 4rem;
    --sp-5: 5rem; 
    --sp-height: 15rem;
    --sp-bg: 18rem;
    --sp-width: 20rem;
}


/* BASE */
html {
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

button{
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font);
    font-weight: var(--font-normal);
    color: var(--text-color);
}

h1 {
    font-family:  var(--font-medium);
    color: var(--primary-color);
    height: var(--sp-height);
    width: var(--sp-width);
    padding: var(--sp-4);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
    outline: none;
    border-radius: var(--sp-0-5);
    padding: var(--sp-0-25);
    background-color: rgba(255, 255, 255, 0.769);
    user-select: none;
    color: var(--second-color);
    border-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    width: var(--sp-bg);
    background-color:  hsla(0, 0%, 100%, 0.646);;
    border-radius: 10px 65px / 10px 80px;
    padding: var(--sp-1);
    font-size: var(--font-normal);
    color: var(--text-color);
}

button:hover{
    background-color: rgba(174, 170, 170, 0.842);
    color: white;
}

.buttom-container{
    height: 10rem;
    padding: var(--sp-4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.author{
    padding: var(--sp-2-5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--primary-color);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 993px ){
    :root{
        --normal-font: 1.5rem;
    }    
    h1 {
        height: 15rem;
        width: 40rem;
        padding: 5rem;
        align-items: center;
    }
    
    .message{
        width: 40rem;
        padding: 1.5rem;
    }
    
    .buttom-container{
        height: 10rem;
        padding: 4rem;
        --normal-font: 1.25rem;
    }
    
    .author{
        padding: .5rem;
    }
    
}